body {
  background-color: hsl(225, 100%, 94%);
  margin: 0;
  font-family: "Red Hat Display";

  /* padding: 0; */
  /* background-color: blueviolet; */
}

.header-img {
  width: 100%;
  display: block;
  height: auto;
  background-color: yellow;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  /* margin-bottom: 100px; */
  /* background-color: white; */
  background-color: hsl(225, 100%, 98%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  border-radius: 15px;
  /* display: block; */
  /* margin-left: auto;
  margin-right: auto; */
  height: 600px;
}
h1 {
  /* font-family: "Red Hat Display", sans-serif; */
  text-align: center;
  font-style: bold;
  font-weight: 900;
  line-height: 38.4px;
}

.illustration-img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.content {
  padding: 2px 16px;
}

p {
  text-align: center;
  color: hsl(224, 23%, 55%);
  font-size: 16px;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
