* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background: url(../images/pattern-background-desktop.svg) no-repeat top;
  background-color: hsl(225, 100%, 94%);
  background-size: 100% 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-summary-card {
  width: 420px;
  height: 615.75px;
  flex-shrink: 0;
  border-radius: 18px;
  background: #fff;
  box-shadow: 1px 15px 25px 0px rgba(0, 0, 0, 0.07);
  margin-top: 65px;
}
.illustration-img {
  border-radius: 18px 18px 0 0;
  width: 100%;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.title {
  color: hsl(223, 47%, 23%);
  font-weight: 910;
  font-size: 26px;
  margin-bottom: 13px;
}
.para {
  text-align: center;
  color: hsl(224, 23%, 55%);
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 15px;
  line-height: 24px;
}

/* SUSCRIPTION CONTENT  */
.subscription-content {
  background-color: hsla(228, 100%, 98%, 1);
  width: 360px;
  display: inline-flex;
  padding: 24px;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  border-radius: 10px;
}

h3 {
  color: hsl(223, 47%, 23%);
  margin-bottom: 3px;
}

p {
  font-size: 16px;
  color: hsl(224, 23%, 55%);
}
.change-btn {
  padding-left: 66px;
  color: hsl(245, 75%, 52%);
}

.change-btn:hover {
  text-decoration: none;
  filter: opacity(75%);
}

/* 
styling main buttons */

.main-btns {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  width: 360px;
}

.primary-btn {
  width: 360px;
  height: 48px;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  font-weight: 550;
  box-shadow: 0px 12px 20px 0px hsl(245, 75%, 90%);
  background-color: hsl(245, 75%, 52%);
}

.primary-btn:hover {
  filter: opacity(75%);
}

.secondary-btn {
  text-decoration: none;
  font-weight: 550;
  color: hsl(224, 23%, 55%);
}

.secondary-btn:hover {
  color: hsl(223, 47%, 23%);
}

/* Mobile styling  */
@media screen and (max-width: 500px) {
  body {
    background: url(../images/pattern-background-mobile.svg) no-repeat top;
    background-size: 100% 250px;
    background-color: hsl(225, 100%, 94%);
  }
}
